 <table class="main">
  <thead>
    <tr><h2></h2>
      <th>日付</th>
      <th>借方科目</th>
      <th>摘要</th>
      <th>借方金額</th>
      <th>貸方金額</th>
      <th>残高</th>
      <th>詳細</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>
        <td>繰越金額</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
     <% sum = 0%>
      <% @records.each.with_index do |record, i| %>
        <tr>
          <td><%= record.date %></td>
          <td><%= record.subject.name %></td>
          <td><%= record.memo %></td>
          <td><% if record.subject_id >= 100%>
                <%= record.price %></td>
              <%end%>
          </td>
          <td><% if record.subject_id < 100%>
                <%= record.price %></td>
              <%end%>
          </td>
          <td><% if record.subject_id >= 100%>
                  <%= sum += @records.pluck("price")[i].to_i%></td>
              <% else %>
                  <%= sum -= @records.pluck("price")[i].to_i%></td>
              <% end%>

          <td><%= link_to '詳細', record%></td>
        </tr>
      <% end %>
        </tr>
    </tbody>
  </table>
</table>