<%= render partial: "shared/header", locals: { title: @title }%>

<div class="main-wrap">
 <table class="main">
  <thead>
    <tr>
      <th>日付</th>
      <th>摘要</th>
      <th>借方科目</th>
      <th>貸方科目</th>
      <th>金額</th>
      <th>詳細</th>
    </tr>
  </thead>

  <tbody>
  <% sum = 0%>
      <% @records.each.with_index do |record, i| %>
        <tr>
          <td><%= record.date %></td>
          <td><%= record.memo %></td>
          <td><% if record.subject_id < 100%>
                <%= record.subject.name %></td>
              <% else %>
                現金
              <%end%>
          </td>
          <td><% if record.subject_id >= 100%>
                <%= record.subject.name %>
              <% else %>
                現金
              <%end%>
              </td>
         
          <td><%= record.price %></td>

          <td><%= link_to '詳細', record%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>

</div>
