<%= render partial: "shared/header", locals: { title: @title }%>

<div class="main-wrap">
<table class="main">
  <thead>
    <tr>
      <th>勘定科目</th>
      <th>金額</th>
      <th>勘定科目</th>
      <th>金額</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>現金</td><td><%=@cash%></td><td>支払手形</td><td></td>
      </tr>
      <tr>
        <td>当座預金</td><td></td><td>買掛金</td><td></td>
      </tr>
      <tr>
        <td>定期預金</td><td></td><td>借入金</td><td></td>
      </tr>
      <tr>
        <td>その他の預金</td><td></td><td>未払金</td><td></td>
      </tr>
      <tr>
        <td>受取手形</td><td></td><td>前受金</td><td></td>
      </tr>
      <tr>
        <td>売掛金</td><td></td><td>預り金</td><td></td>
      </tr>
      <tr>
        <td>有価証券</td><td></td><td>貸倒引当金</td><td></td>
      </tr>
      <tr>
        <td>棚卸資産</td><td></td><td>事業主借</td><td><%=@records[101]%></td>
      </tr>
      <tr>
        <td>前払金</td><td></td><td>元入金</td><td><%=@records[102]%></td>
      </tr>
      <tr>
        <td>貸付金</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>建物</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>建物付属設備</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>機械装置</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>機械装置</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>車両</td><td></td><td></td><td></td>
      </tr><tr>
        <td>車両運搬具</td><td></td><td></td><td></td>
      </tr><tr>
        <td>工具器具備品</td><td></td><td></td><td></td>
      </tr><tr>
        <td>土地</td><td></td><td></td><td></td>
      </tr><tr>
        <td>事業主貸</td><td><%=@records[18]%></td><td></td><td></td>
      </tr><tr>
        <td>仕入</td><td></td><td>売上</td><td><%=@records[100]%></td>
      </tr><tr>
        <td>租税公課</td><td><%=@records[11]%></td><td>貸倒引当金繰入額</td><td></td>
      </tr><tr>
        <td>荷造運賃</td><td><%=@records[10]%></td><td></td><td></td>
      </tr><tr>
        <td>水道光熱費</td><td><%=@records[8]%></td><td></td><td></td>
      </tr><tr>
        <td>旅費交通費</td><td><%=@records[7]%></td><td></td><td></td>
      </tr><tr>
        <td>通信費</td><td><%=@records[3]%></td><td></td><td></td>
      </tr><tr>
        <td>広告宣伝費</td><td><%=@records[4]%></td><td></td><td></td>
      </tr><tr>
        <td>接待交際費</td><td><%=@records[2]%></td><td></td><td></td>
      </tr><tr>
        <td>損害保険料</td><td><%=@records[13]%></td><td></td><td></td>
      </tr><tr>
        <td>修繕費</td><td><%=@records[12]%></td><td></td><td></td>
      </tr><tr>
        <td>消耗品費</td><td><%=@records[6]%></td><td></td><td></td>
      </tr><tr>
        <td>減価償却費</td><td></td><td></td><td></td>
      </tr><tr>
        <td>福利厚生費</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>給料賃金</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>外注工費</td><td><%=@records[1]%></td><td></td><td></td>
      </tr>
      <tr>
        <td>利子割引料</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>支払手数料</td><td><%=@records[5]%></td><td></td><td></td>
      </tr>
      <tr>
        <td>地代家賃</td><td><%=@records[9]%></td><td></td><td></td>
      </tr>
      <tr>
        <td>貸倒金</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>新聞図書費</td><td><%=@records[15]%></td><td></td><td></td>
      </tr>
      <tr>
        <td>会議費</td><td><%=@records[14]%></td><td></td><td></td>
      </tr>
      <tr>
        <td>研修費</td><td><%=@records[16]%></td><td></td><td></td>
      </tr>
      <tr>
        <td>雑費</td><td><%=@records[17]%></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>貸倒引当金繰入額</td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td>合計</td><td><%=@cash + @expence%></td><td>合計</td><td><%=@sum_income%></td>
      </tr>


  </tbody>
</table>
</div>